<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://www.w3.org/2005/10/profile">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{L_PAGE_TITLE}: ***title***</title>

    <!-- mootools for effects and javascript sanity -->
    <script type='text/javascript' src="js/mootools-core.js"></script>
    <script type='text/javascript' src="js/mootools-more.js"></script>

    <!-- textbox resizing -->
    <script type='text/javascript' src="js/flext.js"></script>

    <!-- any site-specific javascriptery and styles -->
    <script type='text/javascript' src="js/site.js"></script>
    <link href="css/site.css"    rel="stylesheet" type="text/css" />
    <link href="css/shadowbox.css"    rel="stylesheet" type="text/css" />
    <link href="css/messagebox.css"    rel="stylesheet" type="text/css" />

    <link href="css/userbar.css" rel="stylesheet" type="text/css" />
    <link href="css/print.css"   rel="stylesheet" type="text/css" media="print"/>
</head>

<body class="aatl">
    <div id="title"><h1 class="code">COMP101</h1>
        <div class="name">Introduction to Computer Science</div>
    </div>
    <div id="container"> <!-- This is the body of the page -->
        <div class="course-menu">
            <div class="logo"><a href="/"></a></div>
            <div class="menu">
                <a href="/comp101/" class="block-home menu-active"><span>Home</span></a>
                <a href="/comp101/materials" class="block-mats"><span>Materials</span></a>
                <a href="/comp101/forum" class="block-forum"><span>Forum</span></a>
                <a href="/comp101/wiki" class="block-wiki"><span>Wiki</span></a>
                <a href="/comp101/assess" class="block-assess"><span>Assessments</span></a>
                <a href="/comp101/feedback" class="block-feedback"><span>Feedback</span></a>
                <a href="/comp101/about" class="block-about"><span>About</span></a>
            </div>
            <div class="endcap"></div>
            <div class="mcrlogo"></div>
        </div>
        <div class="right-boxes">
            <ul class="boxes">
                <li><ul class="boxmeta">
                        <li class="iconlink"><a href="/comp101/calendar/rss">
                                <img class="feed14" alt="" src="images/feed-icon-14.png" />
                            </a>
                        </li>
                    </ul>
                    <h3>Upcoming Events</h3>
                    <div class="contents">
                        Events here
                    </div>
                </li>
            </ul>
        </div>
        <div class="core leftspace rightspace">

<div class="shadowbox messagebox">
    <h2>Messagebox Title</h2>
    <div class="sbcontent">
        <div class="mcore">
            <img src="images/messages/security.png" width="48" height="48" alt="***icon***"/>
            <div class="msummary">This is a summary, a summary of the message.</div>
            <div class="mtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor convallis gravida. Etiam quis elit nec libero posuere molestie. Suspendisse et enim tortor. Morbi lacinia consectetur tortor sollicitudin elementum. Mauris sed semper sem. Fusce vehicula eros nec orci scelerisque in cursus augue porttitor.</div>
        </div>
        ***additional***
    </div>
</div>

            <ul class="boxes">
                <li><form action="/comp101/" method="post">
                        <div class="input"><input type="text" id="new-subject" size="70" maxlength="100" title="News post subject"/></div>
                        <div class="contents">
                            <div class="textwrapper"><textarea id="new-message" class="flext growme maxheight-200" rows="3" cols="80" title="Enter your news message here"></textarea></div>
                            <div class="newpost formsubmit"><input type="submit" id="newpost" value="Post news entry" /></div>
                        </div>
                    </form>
                </li>
                <li><ul class="boxmeta">
                        <li><strong>Posted</strong>: 29th Apr 2010 16:49 BST</li>
                        <li class="iconlink"><a href="/aatl/profile/cpage">Chris Page
                                <img alt="" src="http://www.gravatar.com/avatar/b6ef97ed184a3da14aed3294f45bf111?s=16&amp;d=mm&amp;r=g" class="avatar avatar-16" height="16" width="16" />
                            </a>
                        </li>
                    </ul>
                    <h3>Example news post</h3>
                    <div class="contents">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor convallis gravida. Etiam quis elit nec libero posuere molestie. Suspendisse et enim tortor. Morbi lacinia consectetur tortor sollicitudin elementum. Mauris sed semper sem. Fusce vehicula eros nec orci scelerisque in cursus augue porttitor. Etiam ut dolor eu ipsum vestibulum fermentum. Ut laoreet pellentesque ante id placerat. Sed velit leo, sagittis ut bibendum id, euismod hendrerit tortor. Donec mollis tristique orci vel dignissim. Nunc libero purus, consequat sit amet consectetur nec, feugiat non nisl. Integer in diam sed tortor tristique hendrerit. Pellentesque libero justo, aliquam at viverra a, condimentum luctus elit. Vivamus non neque sit amet dui tincidunt consequat sed in est. Vestibulum ut mi nibh, sollicitudin lobortis ante.<br /><br />
                        Cras sit amet dui a tortor tristique iaculis ac et massa. Sed vulputate massa nec est egestas eget aliquam ante convallis. Suspendisse ut dui quam, sit amet pharetra quam. Mauris consectetur fermentum lectus, in vulputate orci mattis ac. Nullam venenatis ipsum vitae nibh dignissim non pulvinar purus fermentum. Sed accumsan facilisis purus, sed aliquet quam tempor laoreet. Maecenas nibh tellus, ornare ac bibendum id, eleifend ut nisl. Nullam id ipsum tortor, eu aliquet felis.
                    </div>
                </li>
                <li><ul class="boxmeta">
                        <li><strong>Posted</strong>: 29th Apr 2010 16:49 BST</li>
                        <li class="iconlink"><a href="/aatl/profile/cpage">Chris Page
                                <img alt="" src="http://www.gravatar.com/avatar/b6ef97ed184a3da14aed3294f45bf111?s=16&amp;d=mm&amp;r=g" class="avatar avatar-16" height="16" width="16" />
                            </a>
                        </li>
                    </ul>
                    <h3>Example news post</h3>
                    <div class="contents">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor convallis gravida. Etiam quis elit nec libero posuere molestie. Suspendisse et enim tortor. Morbi lacinia consectetur tortor sollicitudin elementum. Mauris sed semper sem. Fusce vehicula eros nec orci scelerisque in cursus augue porttitor. Etiam ut dolor eu ipsum vestibulum fermentum. Ut laoreet pellentesque ante id placerat. Sed velit leo, sagittis ut bibendum id, euismod hendrerit tortor. Donec mollis tristique orci vel dignissim. Nunc libero purus, consequat sit amet consectetur nec, feugiat non nisl. Integer in diam sed tortor tristique hendrerit. Pellentesque libero justo, aliquam at viverra a, condimentum luctus elit. Vivamus non neque sit amet dui tincidunt consequat sed in est. Vestibulum ut mi nibh, sollicitudin lobortis ante.<br /><br />
                        Cras sit amet dui a tortor tristique iaculis ac et massa. Sed vulputate massa nec est egestas eget aliquam ante convallis. Suspendisse ut dui quam, sit amet pharetra quam. Mauris consectetur fermentum lectus, in vulputate orci mattis ac. Nullam venenatis ipsum vitae nibh dignissim non pulvinar purus fermentum. Sed accumsan facilisis purus, sed aliquet quam tempor laoreet. Maecenas nibh tellus, ornare ac bibendum id, eleifend ut nisl. Nullam id ipsum tortor, eu aliquet felis.
                    </div>
                </li>
                <li><ul class="boxmeta">
                        <li><strong>Posted</strong>: 29th Apr 2010 16:49 BST</li>
                        <li class="iconlink"><a href="/aatl/profile/cpage">Chris Page
                                <img alt="" src="http://www.gravatar.com/avatar/b6ef97ed184a3da14aed3294f45bf111?s=16&amp;d=mm&amp;r=g" class="avatar avatar-16" height="16" width="16" />
                            </a>
                        </li>
                    </ul>
                    <h3>Example news post</h3>
                    <div class="contents">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor convallis gravida. Etiam quis elit nec libero posuere molestie. Suspendisse et enim tortor. Morbi lacinia consectetur tortor sollicitudin elementum. Mauris sed semper sem. Fusce vehicula eros nec orci scelerisque in cursus augue porttitor. Etiam ut dolor eu ipsum vestibulum fermentum. Ut laoreet pellentesque ante id placerat. Sed velit leo, sagittis ut bibendum id, euismod hendrerit tortor. Donec mollis tristique orci vel dignissim. Nunc libero purus, consequat sit amet consectetur nec, feugiat non nisl. Integer in diam sed tortor tristique hendrerit. Pellentesque libero justo, aliquam at viverra a, condimentum luctus elit. Vivamus non neque sit amet dui tincidunt consequat sed in est. Vestibulum ut mi nibh, sollicitudin lobortis ante.<br /><br />
                        Cras sit amet dui a tortor tristique iaculis ac et massa. Sed vulputate massa nec est egestas eget aliquam ante convallis. Suspendisse ut dui quam, sit amet pharetra quam. Mauris consectetur fermentum lectus, in vulputate orci mattis ac. Nullam venenatis ipsum vitae nibh dignissim non pulvinar purus fermentum. Sed accumsan facilisis purus, sed aliquet quam tempor laoreet. Maecenas nibh tellus, ornare ac bibendum id, eleifend ut nisl. Nullam id ipsum tortor, eu aliquet felis.
                    </div>
                </li>
            </ul>
        </div>
    </div><!-- #container -->

    <div id="userbar"> <!-- This is the floating user bar at the top of the page -->
        <div class="bar-container">
            <ul class="site-options top-menu"> <!-- options related to overall site navigation -->
                <li id="site-menu" class="menu">
                    <a href="/" class="item"><span class="site-front-icon"></span></a>
                    <div class="menu-wrapper">
                        <ul class="menu-submenu">
                            <li><a class="item" href="/">Front page</a></li>
                            <li><a class="item" href="/aatl/about">About AATL</a></li>
                        </ul>
                    </div>
                </li>
                <li id="course-sel" class="menu">
                    <a href="/comp101/?cid=12" class="item">Comp101 (Sept 2011)</a>
                    <div class="menu-wrapper">
                        <ul class="menu-submenu">
                            <li><a class="item" href="/comp101/?cid=11">Comp101 (Sept 2010)</a></li>
                            <li><a class="item" href="/comp102">Comp102 (Sept 2012)</a></li>
                            <li><a class="item" href="/comp103">Comp103 (Sept 2012)</a></li>
                        </ul>
                    </div>
                </li>
                <li id="course-old">
                    <span class="empty-item menu-warning">This a finished course!</span>
                </li>
                <li id="course-config" class="menu">
                    <a href="/comp101/settings" class="item"><span class="course-config-icon"></span></a>
                    <div class="menu-wrapper">
                        <ul class="menu-submenu">
                            <li><a class="item" href="/comp101/settings">Course Settings</a></li>
                            <li><a class="item" href="/comp101/enrolment">Enrolment Settings</a></li>
                            <li><a class="item" href="/comp101/clone">Copy As New Run</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="user-options top-menu"> <!-- options related to user profiles and messages -->
                <li id="user-profile" class="menu">
                    <a href="/aatl/profile" class="item">Chris Page
                        <img alt="" src="http://www.gravatar.com/avatar/b6ef97ed184a3da14aed3294f45bf111?s=16&amp;d=mm&amp;r=g" class="avatar avatar-16" height="16" width="16" />
                    </a>
                    <div class="menu-wrapper">
                        <ul id="profile-actions" class="menu-submenu">
                            <li id="profile-display"><a href="/aatl/profile">
                                    <img alt="" src="http://www.gravatar.com/avatar/b6ef97ed184a3da14aed3294f45bf111?s=64&amp;d=mm&amp;r=g" class="avatar avatar-64" height="64" width="64" />
                                    <span class="display-name">Chris Page</span>
                                    <span class="username">cpage</span>
                                </a>
                            </li>
                            <li><a class="item" href="/aatl/profile">Edit Profile</a></li>
                            <li><a class="item" href="/aatl/settings">Change Settings</a></li>
                            <li><a class="item" href="/aatl/logout">Log Out</a></li>
                        </ul>
                    </div>
                </li>
                <li id="feedback-warn">
                    <a href="/comp101/feedback/" class="item menu-feedback"><img src="userbar/images/important.png" width="16" height="16" alt="important" class="important-icon"/> You have new feedback!</a>
                </li>
            </ul>
        </div><!-- class="bar-container" -->
    </div><!-- #userbar -->
    <script type="text/javascript">
        window.addEvent('domready', function() {
            new OverText($('new-subject'));
            new OverText($('new-message'));
        });
    </script>
</body>
</html>
