<html>
<head>

<script src="../templates/default/js/api.js"></script>
<script src="../templates/default/js/mootools-core.js"></script>
<script src="../templates/default/js/mootools-more.js"></script>
<script src="../scripts/edit_quiz.js"></script>


<link rel="stylesheet" type="text/css" href="../templates/quiz/css/style.css">

</head>

<body>
 <div id="content">
  <div id="video_box">
   <video width='640' height='360' id='player' controls>
    <TMPL_LOOP NAME=VIDEO_INFO>
      <source src='<TMPL_VAR NAME=SOURCE>'>
    </TMPL_LOOP>
   </video>
  </div>
  <div id="qlist_box">
  </div>
  <button id="add_button" value="">Add Question</button>
 </div>
</body>

</html>
