input[type=text], input[type=password] {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 2px;
}

input[type=text]:focus, input[type=password]:focus, input[type=checkbox]:focus {
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
}
