ul.boxes > li#showmore {
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: right;
    background-color: transparent;
}

ul.boxes > li#returnlink {
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    text-align: right;
}

ul.boxes div.editbox {
    padding-bottom: 3px;
}

ul.boxes div.editinfo {
    text-align: right;
}

ul.boxes div.editinfo ul.boxmeta {
    float: none;
}

ul.boxes div.editinfo ul.boxmeta li a {
    text-decoration: none;
    color: #06A;
}

ul.boxes div.editinfo ul.boxmeta li a:hover {
    text-decoration: none;
    color: #666;
}
