
#qlist-container {
    display: block;
    margin: 0px 0px 20px;
    position: relative;
}

#qlist-container .containerbox {
    background: #f4f4f4;
    border-bottom: 1px solid #bbb;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-top: none;
    color: #333333;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
}