
#qlist-container {
    display: block;
    margin: 0px 0px 20px;
    position: relative;
}

#qlist-container .containerbox {
    background: #f4f4f4;
    border-bottom: 1px solid #bbb;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-top: none;
    color: #333333;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    -moz-box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

ul.questionlist {
    padding: 0px;
    margin: 0px;
}

ul.questionlist > li {
    list-style-type: none;
    margin: 0px 0px 10px;
    overflow: hidden;
    padding: 8px 10px 0px;
    border-top: 1px solid #bbb;
}

ul.qlist {
    padding: 0px;
    margin: 0px;
}

ul.qlist > li {
    list-style-type: none;
    margin: 0px 0px 10px;
    overflow: hidden;
}

ul.questionlist > li:first-child {
    border-top: none;
}


ul.questionlist div.editinfo, div.question div.editinfo, ul#answers div.editinfo {
    text-align: right;
}

div.editinfo ul.boxmeta {
    float: none;
}

div.editinfo ul.boxmeta > li {
    color: #666;
    list-style-type: none;
    padding: 0px 3px;
    display: inline;
    margin: 0px !important;
    line-height: 16px;
    veritcal-align: middle;
}

div.editinfo ul.boxmeta li.iconlink a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
}

div.editinfo ul.boxmeta li a {
    text-decoration: none;
    color: #06A;
}

div.editinfo ul.boxmeta li a:hover {
    text-decoration: none;
    color: #666;
}

div.editinfo ul.boxmeta li a img {
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    padding: 0;
    background: #eee;
    line-height: 20px;
    vertical-align: middle;
    float: none;
    display: inline;
}

ul.questionlist div.stats, li.qblock div.stats, ul#answers li.ablock div.stats {
    float: left;
    width: 80px;
    margin-right: 10px;
    font-size: 80%;
    text-align: center;
}

ul.questionlist div.question {
/*    float: left;*/
    padding: 0px 0px 5px;
}

ul.questionlist li > div.question h3 a, li.qblock > h3 a {
    text-decoration: none;
    color: #d26911;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 1.2em;
}

ul.questionlist li > div.question h3 a:hover, li.qblock > h3 a:hover {
    text-decoration: none;
    color: #06A;
}

ul.questionlist li > div.question h3 a:active, li.qblock > h3 a:active {
    text-decoration: none;
    color: #49F;
}

ul.questionlist li > div.question h3 a:visited, li.qblock > h3 a:visited {
    text-decoration: none;
    color: #d26911;
}

li.qblock > h3 {
    padding: 3px 0px;
    margin: 0px 0px 3px;
    border-bottom: 1px solid #bbb;
}

ul.questionlist div.stats div.value, li.qblock div.stats div.value, ul#answers li.ablock div.stats div.value {
    font-size: 20px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
}

ul.questionlist div.stats div.bigstat, li.qblock div.stats div.bigstat, ul#answers li.ablock div.stats div.bigstat {
    padding: 0px 0px 5px;
}

ul.questionlist div.stats div.unanswered {
    color: #a70202;
}

ul.questionlist div.stats div.answered {
    color: #65ac6e;
}

ul.questionlist div.stats div.chosen {
    color: #518958;
    background-color: #b4e1b9;
}

li.qblock div.question, li.ablock div.answer {
    margin-left: 90px;
}

li.qblock div.rating, li.block div.rating {
    margin-top: 10px;
}

div#answerform {
    clear: both;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #bbb;
}

div#answerform > h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3em;
}

div.rateup {
    width: 80ox;
    height: 32px;
    background: url('../images/qaforums/rateup_off.png') center center no-repeat;
    cursor: pointer;
}

div.rateup.rated {
    background-image: url('../images/qaforums/rateup_on.png');
}

div.ratedown {
    width: 80ox;
    height: 32px;
    background: url('../images/qaforums/ratedown_off.png') center center no-repeat;
    cursor: pointer;
}

div.ratedown.rated {
    background-image: url('../images/qaforums/ratedown_on.png');
}

div.best {
    width: 80ox;
    height: 32px;
    background: url('../images/qaforums/best_off.png') center center no-repeat;
    cursor: pointer;
}

div.best.chosen {
    background-image: url('../images/qaforums/best_on.png');
}

div#answerheader {
    border-bottom: 1px solid #bbb;
    height: 26px;
    margin-bottom: 8px;
    margin-top: 5px;
    padding: 0px;
}

div#answerheader.noanswers {
    display: none;
}

div#answerheader > h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3em;
    float: left;
}

div#answerheader > div.answersort {
    float: right;
}

div#answerheader > div.answersort > a {
    color: #777777;
    font-size: 12px;
    line-height: 25px;
    margin: 3px 3px 3px 0px;
    padding: 0px 10px;
    display: block;
    float: left;
    text-decoration: none;
}

div#answerheader > div.answersort > a.active {
    font-weight: bold;
    color: #000;
}

div#answerheader > div.answersort > a:hover {
    text-decoration: none;
    color: #06A;
}

img#answerspin {
    opacity: 0;
}

img.commentspin {
    opacity: 0;
}

ul#answers {
    padding: 0px;
    margin: 0px;
}

ul#answers > li {
    list-style-type: none;
    margin: 0px 0px 10px;
    overflow: hidden;
    padding: 8px 10px 0px;
    border-top: 1px dotted #bbb;
}

ul#answers > li:first-child {
    border-top: none;
}

div.formsubmit input.whybox {
    float: left;
}

div.commentform div.show span {
    color: #777777;
    font-size: 11px;
    cursor: pointer;
}

div.commentform div.show span:hover {
    text-decoration: none;
    color: #06A;
}

div.commentform div.show span:active {
    text-decoration: none;
    color: #49F;
}


ul.comments {
    padding: 0px;
    margin: 0px;
}

ul.comments li.comment {
    list-style-type: none;
    overflow: hidden;
    padding: 8px 10px 5px;
    border-bottom: 1px dotted #bbb;
    margin-left: 30px;
}

ul.comments li.comment div.ops {
    float: left;
    width: 16px;
    margin-right: 4px;
    font-size: 80%;
    text-align: center;
}

ul.comments li.comment div.message {
    margin-left: 30px;
}

ul.comments li.comment div.message > div > p {
    margin: 0px;
    padding: 0px;
}


ul.comments li.comment .control.helpful {
    background-position: -48px -48px;
}

ul.comments li.comment:hover .control.helpful {
    background-position: -48px -16px;
}

ul.comments li.comment:hover .control.helpful:hover {
    background-position: -48px 0px;
}

ul.comments li.comment .control.helpful.set {
    background-position: -48px 0px;
}

ul.comments li.comment .control.helpful.working {
    background-position: -48px -48px;
}


ul.comments li.comment .control.delete {
    background-position: -16px -48px;
}

ul.comments li.comment:hover .control.delete {
    background-position: -16px -16px;
}

ul.comments li.comment:hover .control.delete:hover {
    background-position: -16px 0px;
}

ul.comments li.comment .control.delete.working {
    background-position: -16px -48px;
}
