@charset "utf-8";
body  {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #000;
    font-size: 13px;
    width: 100%;
    min-width: 900px;
    background: #eee url('../images/page_layout/header.jpg') 0px 28px no-repeat;
}

body, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

.aatl #title {
    position: absolute;
    float: right;
    right: 30px;
    top: 45px;
    text-align: right;
}

.aatl #title h1 {
    text-size: 32px;
    color: #fff;
}

.aatl #title div {
    text-size: 20px;
    color: #bbb;
    padding-top: 1px;
    border-top: 1px solid #777;
}

.aatl #container {
    margin: 28px auto 0px;
    text-align: left; /* this overrides the text-align: center on the body element. */
    padding: 0;
    width: 98%;
    margin-top: 128px;
}

.aatl #container .core {
}

.aatl #container .leftspace {
    margin-left: 250px;
}

.aatl #container .rightspace {
    margin-right: 210px;
}


/* autogrow text areas */
.textwrapper {
    margin: 0px;
    padding: 3px;
}

textarea.flext {
    width: 100%;
	padding: 0px; /* important, or growing breaks in opera */
}


/* glows */
input[type=text]:focus {
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
}

textarea:focus {
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
}


/* menu classes */
.aatl #container .course-menu {
    float: left;
    width: 250px;
}

.course-menu .logo {
    width: 250px;
    height: 72px;
    display: block;
    padding: none;
    margin: none;
}

.course-menu .logo a {
    width: 250px;
    height: 72px;
    display: block;
    background: url('../images/navigation/navbar_top.png') 0px 0px no-repeat;
}

.course-menu .endcap {
    width: 250px;
    height: 24px;
    display: block;
    background: url('../images/navigation/navbar_bot.png') 0px 0px no-repeat;
}

.course-menu .mcrlogo {
    margin: 0px auto;
    height: 77px;
    background: url('../images/logomanchester.png') center top no-repeat;
}

/* make rollovers on menus work */
.course-menu .menu a {
    display: block;
    width: 250px;
    height: 36px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.course-menu .menu a span {
    display: none;
}

.course-menu .menu a.menu-active {
    background-position: 0px -36px;
}

.course-menu .menu a:hover, .course-menu .menu a.hover {
    background-position: 0px -72px;
}

.course-menu .menu a:active, .course-menu .menu a.active {
    background-position: 0px -108px;
}


/* Specific standard blocks */
.course-menu .menu a.block-home {
    background-image: url('../images/navigation/blocks/home.png');
}

.course-menu .menu a.block-mats {
    background-image: url('../images/navigation/blocks/materials.png');
}

.course-menu .menu a.block-forum {
    background-image: url('../images/navigation/blocks/forums.png');
}

.course-menu .menu a.block-wiki {
    background-image: url('../images/navigation/blocks/wiki.png');
}

.course-menu .menu a.block-assess {
    background-image: url('../images/navigation/blocks/assessment.png');
}

.course-menu .menu a.block-about {
    background-image: url('../images/navigation/blocks/information.png');
}

.course-menu .menu a.block-feedback {
    background-image: url('../images/navigation/blocks/feedback.png');
}


/* right-side boxes */
.aatl #container .right-boxes {
    float: right;
    width: 190px;
}




/* box classes. */
ul.boxes {
    padding: 0px;
    margin: 0px;
}

ul.boxes > li {
    border: 1px solid #bbb;
    border-radius: 4px;
    -moz-box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
    list-style-type: none;
    margin: 0px 0px 10px;
    overflow: hidden;
    padding: 8px 10px 0px;
    background-color: #fff;
}

ul.boxes ul.boxmeta {
    float: right;
    font-size: 11px;
    display: inline;
    position: relative;
    padding: 0px;
    margin: 0px;
}

ul.boxes ul.boxmeta > li {
    color: #666;
    list-style-type: none;
    padding: 0px 3px;
    display: inline;
    margin: 0px !important;
    line-height: 16px;
    veritcal-align: middle;
}

ul.boxes ul.boxmeta li.iconlink a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
}

ul.boxes ul.boxmeta li.iconlink a:hover {
    text-decoration: none;
    color: #666;
}

ul.boxes ul.boxmeta li.iconlink a img {
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    padding: 0;
    background: #eee;
    float: none;
    display: inline;
    line-height: 16px;
    vertical-align: middle;
}

ul.boxes ul.boxmeta li.iconlink a img.feed14 {
    width: 14px;
    height: 14px;
    padding: 0;
    float: none;
    display: inline;
    line-height: 16px;
    vertical-align: middle;
    border: none;
}

ul.boxes h3 {
    font-size: 14px;
    margin: 0px;
    white-space: nowrap;
}

ul.boxes .contents {
    background: #f4f4f4;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid #ddd;
    margin-left: -10px;
    margin-top: 8px;
    padding: 5px 10px;
    width: 100%;
    clear: both;
}


.formsubmit {
    text-align: right;
}

.overTxtLabel {
    color: #999;
}