ul.tabs {
    background: #f4f4f4;
    font-size: 12px;
    font-weight: bold
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    border-bottom: 1px solid #ddd;
    margin: 10px 0px 0px;
}

ul.tabs.contents,
ul.tabs.contents li:first-child a,
ul.tabs.contents li:first-child a:hover,
ul.tabs.contents li:last-child a,
ul.tabs.contents li:last-child a:hover {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

ul.tabs li {
    display: table-cell;
    list-style-type: none;
    margin: 0px;
}

ul.tabs li:first-child a {
    border-bottom-left-radius: 3px;
    border-left: medium none;
}

ul.tabs li a {
    display: block;
    font-size: 12px;
    line-height: 35px;
    color: #666;
    border-bottom: 2px solid #cdcdcd;
    border-left: 1px solid #aaa;
    border-right: 1px solid #0a0a0a;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 0px white;
}

ul.tabs li a.active, ul.tabs li a.active:hover {
    background: #fcfcfc;
    border-bottom: 2px solid #0095cd;
    color: #000000;
}